* {
    box-sizing: border-box;
}

pre {
    display: inline-block;
}

#code {
    width: 100%;
}

#output {
    border: 1px solid;
    width: 100%;
    min-height: 5em;
    padding: 5px;
    display: inline-block;
}

body {

}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

.screaming-center {
    text-align: center;
    margin-top: auto;
    font-size: 64px;
}
