body {
  margin: 1em auto;
  max-width: 48em;
  padding: 0 0.62em;
  font: 1.2em/1.62 sans-serif;
}

blockquote {
  border-left: 3px solid lightgrey;
  padding-left: 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

code {
  font-family: monospace;
  background-color: #f0f0f0;
}

p code {
  padding: 0 4px;
}

pre {
  white-space: pre-wrap;
  padding: 1em;
  background-color: #f0f0f0;
}

@media print {
  body {
    max-width: none;
  }
}

@view-transition {
  navigation: auto;
}