/* As RGBa codes */
:root {
    --color-0: rgba(255,133,  0,1);
    --color-1: rgba(255,180, 99,1);
    --color-2: rgba(255,160, 57,1);
    --color-3: rgba(197,103,  0,1);
    --color-4: rgba(155, 81,  0,1);
    --background-color-0: rgba(155, 81, 0, 0.1);
    --background-color-1: rgba(155, 81, 0, 0.5);
    --text-color: #012;
}

.rgba-primary-0 { color: rgba(255,133,  0,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,180, 99,1) }
.rgba-primary-2 { color: rgba(255,160, 57,1) }
.rgba-primary-3 { color: rgba(197,103,  0,1) }
.rgba-primary-4 { color: rgba(155, 81,  0,1) }

@font-face {
    font-family: "CMU Serif";
    src: url("/fonts/cmuserif_roman/cmunrm-webfont.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CMU Serif";
    src: url("/fonts/cmuserif_oblique/cmunti-webfont.woff");
    font-style: italic;
}

@font-face {
    font-family: "CMU Serif";
    src: url("/fonts/cmuserif_bold/cmunbx-webfont.woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "CMU Serif";
    src: url("/fonts/cmuserif_boldoblique/cmunbi-webfont.woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "CMU Sans Serif";
    src: url("/fonts/cmusansserif_roman/cmunss-webfont.woff");
}

@font-face {
    font-family: "CMU Typewriter";
    src: url("/fonts/cmutypewritertext_roman/cmuntt-webfont.woff");
}

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

html {
    font-family: "CMU Serif";
    color: #012;
}

a {
    color: var(--text-color);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-3);
    text-decoration-skip: ink;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover {
    background: var(--color-2);
}

a:focus {
    background: var(--color-1);
    outline:none;
}

span:focus {
    background: var(--color-1);
    outline:none;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--background-color-0);
    width: 100%;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: var(--color-2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

header section {
    width: 100%;
    display: flex;
    flex-direction: inherit;
}

header .top {
    justify-content: space-between;
    flex-direction: inherit;
}

header .links {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    background-color: var(--background-color-0);
    justify-content: space-evenly;
}

header .links a {
    width: 100%;
    font-variant: small-caps;
}

header p {
    background-color: var(--color-1);
    margin: 10px 0;
    padding: 1em;
    max-width: 200px;
}

header h1 {
    background-color: var(--color-0);
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

article {
    padding: 0 5px;
    max-width: 100%;
    font-size: 16px;
}

article ul li {
  list-style: square;
  margin-left: 1em
}

time {
    font-style: oblique;
}

aside {
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: var(--color-3);
    width: 100%;
}

aside h2 {
    margin: 0;
    background-color: var(--color-1);
}

.post-list {
    font-size: 16px;
    padding: 0 10px;
    margin: auto;
}

.post-list h1 {
    font-size: 36px;
}
.post-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-break: break-all;
    overflow-wrap: break-word;
}

.post-list li a {
    word-break: break-all;
    overflow-wrap: break-word;
    padding: 3px;
}

.post-list li time {
    font-size: 10px
}

pre {
    color: #DDD;
    background-color: #222;
    padding: 5px 10px;
    overflow: scroll;
}

pre code {
    font-family: "CMU Typewriter";
}

@media screen and (min-width: 600px) {
    header p {
        font-size: 18px;
    }
    header h1 {
        font-size: 36px;
    }
}

@media screen and (min-width: 780px) {
    main {
        flex-direction: row;
    }

    article {
        font-size: 20px;
        width: 45rem;
        padding: 0 10px;
        margin: auto;
    }

    header {
        background-color: var(--color-2);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        width: 20%;
    }

    .links li {
        margin: auto;
    }

    header p {
        width: 100%;
        max-width: 100%;
    }
    header h1 {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 940px) {
    header p {
        font-size: 20px;
    }

    header h1 {
        font-size: 40px;
    }
}
