{{define "main"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "mathjax"}}
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
    <header>
      <h1>gypsydave5</h1>
      <p>The blog of David Wickes, software developer</p>
    </header>
    {{template "post" .Post}}
    <aside>
      {{template "postlist" .PostList}}
    </aside>
    </main>
  </body>
</html>
{{end}}

{{define "postlist"}}
<h2>Recent Posts</h2>
<ul>
  {{range .Reverse.Take 10}}
  <li>
    <a href="/posts/{{.Path}}">{{.TitleText}}
      <time
       datetime="{{.Date.Format "2006-01-02T15:04"}}"
       >{{.Date.Format "Jan 02, 2006"}}</time>
    </a>
  </li>
  {{end}}
</ul>
{{end}}

{{define "post"}}
<article>
  <h1>{{.Title}}</h1>
  <time datetime="{{.Date.Format "2006-01-02T15:04"}}" >{{.Date.Format "Jan 02, 2006"}}</time>
  {{.Body}}
</article>
{{end}}

{{define "mathjax"}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
      },
      CommonHTML: { linebreaks: { automatic: true } },
      "HTML-CSS": { linebreaks: { automatic: true } },
      SVG       : { linebreaks: { automatic: true } }
    });
</script>
<script type="text/javascript"
        async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{{end}}

{{define "prism"}}
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/prism.css">
<script type="text/javascript"
        src="/js/prism.js">
</script>
{{end}}
