{{define "post"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .Post.TitleText}}
  <body>
    <main>
    {{template "header"}}
    {{template "article" .Post}}
    </main>
  </body>
</html>
{{end}}

{{define "page"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .Title}}
  <body>
    <main>
    {{template "header"}}
    <article>
      <h1>{{.Title}}</h1>
      {{.Body}}
    </article>
    </main>
  </body>
</html>
{{end}}

{{define "head"}}
<head>
  <meta charset="UTF-8">
  {{template "mathjax"}}
  <link rel="stylesheet" href="/css/style.css">
  <title>{{.}}</title>
</head>
{{end}}

{{define "header"}}
<header>
  <section class="top">
    <h1><a href="/">gypsydave5</a></h1>
    <p>The blog of David Wickes, software developer</p>
  </section>

  <ul class="links">
    <li><a href="/pages/about/">about</a></li>
    <li><a href="/posts/">posts</a></li>
  </ul>
</header>
{{end}}

{{define "postlist"}}
<section class="post-list">
  <h1>All Posts</h1>
  <ul>
    {{range .}}
    <li> <a href="/posts/{{.Path}}">{{.TitleText}}
        <time
            datetime="{{.Date.Format "2006-01-02T15:04"}}"
            >{{.Date.Format "Jan 02, 2006"}}</time>
      </a>
    </li>
    {{end}}
  </ul>
</section>
{{end}}

{{define "article"}}
<article>
  <h1>{{.Title}}</h1>
  <time datetime="{{.Date.Format "2006-01-02T15:04"}}" >{{.Date.Format "Jan 02, 2006"}}</time>
  {{.Body}}
</article>
{{end}}


{{define "mathjax"}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true,
      },
      displayAlign: "left",
      displayIndent: "1em",
      CommonHTML: { linebreaks: { automatic: true } },
      "HTML-CSS": { linebreaks: { automatic: true } },
      SVG       : { linebreaks: { automatic: true } }
    });
</script>
<script type="text/javascript"
        async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{{end}}

{{define "prism"}}
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/prism.css">
<script type="text/javascript"
        src="/js/prism.js">
</script>
{{end}}

{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" "Posts Index"}}
  <body>
    <main>
      {{template "header"}}
      {{template "postlist" .}}
    </main>
  </body>
</html>
{{end}}
